
#teacher{
    width:100%;
    height: 500px;
    position:relative;
    text-align: center;



}
#ton{
    width:100%;
    height: 100px;
    position:relative;

    text-align: center;
}
#tid{

    border: none;

}
#img{
    width:200px;
    height: 200px;

}
