#main{
    width: 800px;
    height: 600px;
    border-style: dotted;
    text-align: center;
}
#top{
    text-align: center;
}
#biaoge{
    width: 700px;
    height: 400px;
    border-style: none;
    margin-left: 50px;
}
#selectinfo{
    margin-left: 50px;
}